# Astronomie
lightkurve>=2.4.0
astropy>=5.0
astroquery>=0.4.6

# Data / ML
numpy
pandas
scipy
xgboost
scikit-learn
tsfresh
imbalanced-learn

# API
flask
flask-cors
python-dotenv
requests
PyJWT>=2.0.0
werkzeug

# Visualisation
matplotlib